
@media (min-width: 1024px) {
    .lg_items {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }
}


@media (min-width: 768px) {
    .md_item {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        
    }
}
